.container {
    width: 80%;
    height: 450px;
    margin: auto;
    padding: 10px;
}
.image {
    width: 45%;
    height: 200px;
    float: left;
}
.button {
    margin-left: 45%;
    margin-top: 8%;
    padding-top: 10px;
    color: aqua;
    background-color: gainsboro;
    height: 50px;
    width: 85px;
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
}

