@(sol: Option[String], res: Option[List[List[Any]]] = None)

<head>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    <link href='https://fonts.googleapis.com/css?family=Raleway:300' rel='stylesheet' type='text/css'>
</head>

<title>Number's Puzzle</title>

<h3>Aristotle Puzzle</h3>
<div class="container">
    <div class="image">
        <img src="/assets/images/image.jpg">
    </div>
    <div class="button" >
        <a href="/getSolution"> Generate Solution</a>
    </div>
</div>
    @if(sol.isDefined){
        <div>

        @Html(sol.get)
        </div>
    }
    @if(res.isDefined) {
    }